In [33]:
import requests

from pyspark.sql import SparkSession
from pyspark.sql.types import (
    StructType, StructField, StringType, LongType, DoubleType, BooleanType, ArrayType
)
import os
from dotenv import load_dotenv
load_dotenv()
PYTHONDIRECTORY = os.getenv("PYTHONDIRECTORY")
os.environ["PYSPARK_PYTHON"] = PYTHONDIRECTORY

In [34]:
# Initialize Spark session
spark = SparkSession.builder \
    .appName("OpenSkyAPI") \
    .config("spark.pyspark.python", PYTHONDIRECTORY) \
    .getOrCreate()

In [35]:
# URL for the OpenSky API endpoint
url = "https://opensky-network.org/api/states/all"

# Request data from the API
response = requests.get(url)
data = response.json()

# Extract the list of flight states
states = data.get('states', [])

In [36]:
# Function to convert int values to float for fields that expect DoubleType
def convert_row(row):
    # Make a copy of the row (which is a list)
    new_row = list(row)
    # For fields: longitude (index 5), latitude (6), baro_altitude (7), velocity (9),
    # true_track (10), vertical_rate (11), geo_altitude (13)
    for idx in [5, 6, 7, 9, 10, 11, 13]:
        val = new_row[idx]
        if val is not None:
            new_row[idx] = float(val)
    return new_row

# Convert each row accordingly
states = [convert_row(row) for row in states]

In [37]:
# Define an explicit schema based on the API documentation
schema = StructType([
    StructField("icao24", StringType(), True),
    StructField("callsign", StringType(), True),
    StructField("origin_country", StringType(), True),
    StructField("time_position", LongType(), True),
    StructField("last_contact", LongType(), True),
    StructField("longitude", DoubleType(), True),
    StructField("latitude", DoubleType(), True),
    StructField("baro_altitude", DoubleType(), True),
    StructField("on_ground", BooleanType(), True),
    StructField("velocity", DoubleType(), True),
    StructField("true_track", DoubleType(), True),
    StructField("vertical_rate", DoubleType(), True),
    StructField("sensors", ArrayType(LongType()), True),
    StructField("geo_altitude", DoubleType(), True),
    StructField("squawk", StringType(), True),
    StructField("spi", BooleanType(), True),
    StructField("position_source", LongType(), True)
])

In [38]:
# Create a Spark DataFrame using the explicit schema
df = spark.createDataFrame(states, schema=schema)

In [39]:
# Display the DataFrame
df.show()

+------+--------+--------------+-------------+------------+---------+--------+-------------+---------+--------+----------+-------------+-------+------------+------+-----+---------------+
|icao24|callsign|origin_country|time_position|last_contact|longitude|latitude|baro_altitude|on_ground|velocity|true_track|vertical_rate|sensors|geo_altitude|squawk|  spi|position_source|
+------+--------+--------------+-------------+------------+---------+--------+-------------+---------+--------+----------+-------------+-------+------------+------+-----+---------------+
|4b1816|SWR252B |   Switzerland|   1742821770|  1742821770|  21.2923| 43.5866|      11277.6|    false|   248.4|    118.58|          0.0|   NULL|    11475.72|  3006|false|              0|
|4b1818|SWR8GD  |   Switzerland|   1742821769|  1742821770|   8.2754| 47.4984|      2331.72|    false|  125.59|     18.88|        -8.45|   NULL|      2400.3|  5357|false|              0|
|ab1644|UAL1108 | United States|   1742821760|  1742821760| -77.4373| 38.9549|         NULL|     true|     0.9|      90.0|         NULL|   NULL|        NULL|  NULL|false|              0|
|4b1819|SWR935L |   Switzerland|   1742821769|  1742821769|  21.2502| 41.9253|     10965.18|    false|  217.82|    322.97|         0.33|   NULL|    11231.88|  2063|false|              0|
|80162d|AXB2547 |         India|   1742821769|  1742821769|  73.3424| 19.2272|      2339.34|    false|  121.37|    101.74|        -4.88|   NULL|     2407.92|  0216|false|              0|
|408120|VIR26Q  |United Kingdom|   1742821701|  1742821701| -73.7709| 40.6477|         NULL|     true|    8.23|    312.19|         NULL|   NULL|        NULL|  NULL|false|              0|
|aa56db|UAL364  | United States|   1742821769|  1742821770| -87.8677| 43.1366|       9753.6|    false|  209.77|    266.49|          0.0|   NULL|     9349.74|  6447|false|              0|
|a7b08d|LXJ595  | United States|   1742821770|  1742821770| -84.3518| 29.8753|      13106.4|    false|  213.23|    309.03|          0.0|   NULL|     13373.1|  6504|false|              0|
|88044a|AIQ3430 |      Thailand|   1742821720|  1742821720|  99.6563| 17.2247|     10614.66|    false|  221.76|    162.45|        10.73|   NULL|     10591.8|  NULL|false|              0|
|a2e5ec|SKW4136 | United States|   1742821768|  1742821769| -99.2935|  47.634|      9456.42|    false|   249.4|    116.99|         6.18|   NULL|     9204.96|  NULL|false|              0|
|aa56da|UAL1262 | United States|   1742821769|  1742821769| -76.8587| 38.8636|       5791.2|    false|  156.59|    165.74|          0.0|   NULL|     5798.82|  3625|false|              0|
|39de4b|TVF19MU |        France|   1742821769|  1742821769|   0.0648| 40.8793|      6233.16|    false|  193.01|    196.89|        -8.78|   NULL|      6248.4|  7663|false|              0|
|39de4a|TVF96UH |        France|   1742821769|  1742821769|   5.0133| 49.5193|      8122.92|    false|  224.93|    254.34|       -12.35|   NULL|     8138.16|  1000|false|              0|
|408124|EXS64RG |United Kingdom|   1742821770|  1742821770|  -1.6491| 52.3648|       655.32|    false|    86.9|    325.37|        -4.88|   NULL|      754.38|  5716|false|              0|
|88044f|AIQ532  |      Thailand|   1742821769|  1742821769| 100.7086|  13.714|      4411.98|    false|  193.06|     66.44|         8.78|   NULL|      4686.3|  NULL|false|              0|
|4b1812|SWR8YE  |   Switzerland|   1742821769|  1742821769|   3.8951| 51.2216|      6393.18|    false|  205.44|    336.07|        -5.53|   NULL|     6461.76|  1000|false|              0|
|408121|VIR21K  |United Kingdom|   1742821769|  1742821769|  -4.2387| 51.8811|      9326.88|    false|  231.58|    283.88|         4.23|   NULL|     9479.28|  1252|false|              0|
|a808bb|N61697  | United States|   1742821769|  1742821769| -80.6833| 26.0002|       701.04|    false|   57.44|    353.83|         0.65|   NULL|      754.38|  1200|false|              0|
|ade18c|AAL3257 | United States|   1742821770|  1742821770|  -81.038| 34.6913|      5433.06|    false|  160.43|    203.03|         10.4|   NULL|      5524.5|  2544|false|              0|
|abd9d9|SWA1793 | United States|   1742821769|  1742821769| -93.3416| 35.9163|      10363.2|    false|  180.84|    299.48|          0.0|   NULL|    10431.78|  3566|false|              0|
+------+--------+--------------+-------------+------------+---------+--------+-------------+---------+--------+----------+-------------+-------+------------+------+-----+---------------+
only showing top 20 rows

In [40]:
df.count()

8934

In [41]:
df.describe().show()

+-------+--------+--------+--------------+--------------------+--------------------+-------------------+------------------+-----------------+------------------+------------------+-------------------+-----------------+------------------+---------------+
|summary|  icao24|callsign|origin_country|       time_position|        last_contact|          longitude|          latitude|    baro_altitude|          velocity|        true_track|      vertical_rate|     geo_altitude|            squawk|position_source|
+-------+--------+--------+--------------+--------------------+--------------------+-------------------+------------------+-----------------+------------------+------------------+-------------------+-----------------+------------------+---------------+
|  count|    8934|    8934|          8934|                8877|                8934|               8877|              8877|             8092|              8934|              8934|               8108|             8019|              6554|           8934|
|   mean|Infinity| 2450.25|          NULL|1.7428217436484172E9|1.7428217519529886E9|-31.777686053847024|37.412783699448006|6966.310032130499|158.67113610924548|186.07024289232146|0.07341267883571777|7072.897493453048|3574.8892279523957|            0.0|
| stddev|     NaN|  4900.5|          NULL|  116.27744058326337|   53.18666845515149|   67.9144364969762|14.126410687137762|4298.883304226765| 84.31409870602857|100.95022921826416|   5.10708665872996|4330.558681959913|2302.5368942724144|            0.0|
|    min|  008187|        |       Albania|          1742816844|          1742821455|          -172.9827|          -41.5706|            -76.2|               0.0|               0.0|             -34.79|           -30.48|              0002|              0|
|    max|  e940fe|ZXP02   |         Yemen|          1742821770|          1742821770|            174.802|           69.0651|         20025.36|             333.6|            359.87|              47.47|         28757.88|              7777|              0|
+-------+--------+--------+--------------+--------------------+--------------------+-------------------+------------------+-----------------+------------------+------------------+-------------------+-----------------+------------------+---------------+

In [42]:
df.where(df.icao24 == "4b1818").show()

+------+--------+--------------+-------------+------------+---------+--------+-------------+---------+--------+----------+-------------+-------+------------+------+-----+---------------+
|icao24|callsign|origin_country|time_position|last_contact|longitude|latitude|baro_altitude|on_ground|velocity|true_track|vertical_rate|sensors|geo_altitude|squawk|  spi|position_source|
+------+--------+--------------+-------------+------------+---------+--------+-------------+---------+--------+----------+-------------+-------+------------+------+-----+---------------+
|4b1818|SWR8GD  |   Switzerland|   1742821769|  1742821770|   8.2754| 47.4984|      2331.72|    false|  125.59|     18.88|        -8.45|   NULL|      2400.3|  5357|false|              0|
+------+--------+--------------+-------------+------------+---------+--------+-------------+---------+--------+----------+-------------+-------+------------+------+-----+---------------+

In [43]:
df.orderBy(df.velocity).tail(10)

[Row(icao24='3c670c', callsign='DLH742  ', origin_country='Germany', time_position=1742821767, last_contact=1742821768, longitude=30.819, latitude=42.6913, baro_altitude=11277.6, on_ground=False, velocity=302.16, true_track=106.21, vertical_rate=0.33, sensors=None, geo_altitude=11506.2, squawk='5271', spi=False, position_source=0),
 Row(icao24='7608f9', callsign='PIA946  ', origin_country='Pakistan', time_position=1742821770, last_contact=1742821770, longitude=55.0736, latitude=26.4096, baro_altitude=11887.2, on_ground=False, velocity=302.84, true_track=64.65, vertical_rate=0.33, sensors=None, geo_altitude=12412.98, squawk=None, spi=False, position_source=0),
 Row(icao24='899104', callsign='CAL5234 ', origin_country='Taiwan', time_position=1742821769, last_contact=1742821770, longitude=-113.1797, latitude=52.8979, baro_altitude=10058.4, on_ground=False, velocity=306.86, true_track=125.1, vertical_rate=0.0, sensors=None, geo_altitude=9852.66, squawk=None, spi=False, position_source=0),
 Row(icao24='ac8efa', callsign='EDV5069 ', origin_country='United States', time_position=1742821770, last_contact=1742821770, longitude=-82.5025, latitude=41.0044, baro_altitude=9448.8, on_ground=False, velocity=307.45, true_track=69.02, vertical_rate=0.33, sensors=None, geo_altitude=9212.58, squawk='4030', spi=False, position_source=0),
 Row(icao24='71c217', callsign='KAL053  ', origin_country='Republic of Korea', time_position=1742821769, last_contact=1742821770, longitude=135.8439, latitude=35.0172, baro_altitude=10058.4, on_ground=False, velocity=311.98, true_track=105.98, vertical_rate=0.0, sensors=None, geo_altitude=10096.5, squawk='4322', spi=False, position_source=0),
 Row(icao24='a6dde2', callsign='N541Z   ', origin_country='United States', time_position=1742821769, last_contact=1742821770, longitude=-82.5967, latitude=39.7423, baro_altitude=9921.24, on_ground=False, velocity=313.21, true_track=64.82, vertical_rate=11.38, sensors=None, geo_altitude=9799.32, squawk=None, spi=False, position_source=0),
 Row(icao24='a3244a', callsign='AAL1040 ', origin_country='United States', time_position=1742821769, last_contact=1742821769, longitude=-81.7217, latitude=41.0662, baro_altitude=9448.8, on_ground=False, velocity=313.78, true_track=73.23, vertical_rate=0.0, sensors=None, geo_altitude=9227.82, squawk='0570', spi=False, position_source=0),
 Row(icao24='899082', callsign='EVA634  ', origin_country='Taiwan', time_position=1742821770, last_contact=1742821770, longitude=-107.333, latitude=51.45, baro_altitude=10058.4, on_ground=False, velocity=317.51, true_track=115.94, vertical_rate=0.0, sensors=None, geo_altitude=9867.9, squawk='7245', spi=False, position_source=0),
 Row(icao24='847183', callsign='NCA132  ', origin_country='Japan', time_position=1742821769, last_contact=1742821769, longitude=-109.1645, latitude=51.9872, baro_altitude=9448.8, on_ground=False, velocity=320.21, true_track=114.59, vertical_rate=0.0, sensors=None, geo_altitude=9265.92, squawk='4113', spi=False, position_source=0),
 Row(icao24='ae63f4', callsign='SR01    ', origin_country='United States', time_position=1742821770, last_contact=1742821770, longitude=-93.5883, latitude=42.6213, baro_altitude=8199.12, on_ground=False, velocity=333.6, true_track=111.34, vertical_rate=3.25, sensors=None, geo_altitude=7917.18, squawk='6564', spi=False, position_source=0)]